<h1>Success!</h1>

<img src="https://brobible.com/wp-content/uploads/2020/07/Success-Kid-Now-2020.jpg" alt="Success!" height="400">

<h2>You got this @Context.Session.GetString("UserName")!</h2>

<form asp-action="Index" asp-controller="Home">
    <input type="submit" value="Logout">
</form>