@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<h1>Welcome</h1>
<h2>To Get Started, please provide your Name:</h2>
<form action="Login" method="post" autocomplete="no">
    <div>
        <input type="text" name="Name" maxlength="30" placeholder="Your Name Here">
    </div>
    <div>
        <input type="submit" value="Submit">
    </div>
</form>
</div>
