@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We store your name for showing it to you on the Dashboard.  It goes away when the page closes and the server stops running.</p>
