@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="border">
        <form action="process" method="post">
            <div class="tabledisplay">
                <div class="somepadding tablerow">
                    <Label for="name" htmlfor="name" class="somepadding tablecell">Your Name:</Label>
                    <input class="somepadding tablecell" type="text" name="Name" id="name" placeholder="Your Name">
                </div>
                <div class="somepadding tablerow">
                    <Label class="somepadding tablecell" for="location" htmlfor="location">Dojo Location:</Label>
                    <select class="somepadding tablecell" name="Location" id="location">
                        <option value="San Jose">San Jose</option>
                        <option value="San Francisco">San Francisco</option>
                        <option value="Chicago">Chicago</option>
                        <option value="Detroit">Detroit</option>
                        <option value="New York">New York</option>
                        <option value="Atlanta">Atlanta</option>
                    </select>
                </div>
                <div class="somepadding tablerow">
                    <Label class="somepadding tablecell" for="language" htmlfor="language">Favorite Language:</Label>
                    <select class="somepadding tablecell" name="Language" id="language">
                        <option value="Java">Java</option>
                        <option value="Javascript">Javascript</option>
                        <option value="HTML+CSS">HTML+CSS</option>
                        <option value="C#">C#</option>
                        <option value="C++">C++</option>
                        <option value="Visual Basic">Visual Basic</option>
                        <option value="COBOL">COBOL</option>
                    </select>
                </div>
            </div>
            <div class="somepadding ">
                <Label for="comments" htmlfor="comments">Comments (optional):</Label>
                <textarea id="comments" name="Comments" placeholder="Please share any thoughts you may have" rows="6"
                    cols="80" maxlength="500"></textarea>
            </div>
            <div class="somepadding d-flex rightalign">
                <input type="submit">
            </div>
        </form>
    </div>


</div>
