@model Survey
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="border">
        <form action="process" method="post">
            <div class="tabledisplay">
                <div class="somepadding tablerow">
                    <Label asp-for="Name" class="somepadding tablecell">Your Name:</Label>
                    <span asp-validation-for="Name"></span>
                    <input asp-for="Name" class="somepadding tablecell" type="text" id="name" placeholder="Your Name">
                </div>
                <div class="somepadding tablerow">
                    <Label class="somepadding tablecell" asp-for="Location" htmlfor="location">Dojo Location:</Label>
                    <span asp-validation-for="Location"></span>
                    <select class="somepadding tablecell" asp-for="Location" id="location">
                        <option value="San Jose">San Jose</option>
                        <option value="San Francisco">San Francisco</option>
                        <option value="Chicago">Chicago</option>
                        <option value="Detroit">Detroit</option>
                        <option value="New York">New York</option>
                        <option value="Atlanta">Atlanta</option>
                    </select>
                </div>
                <div class="somepadding tablerow">
                    <Label class="somepadding tablecell" asp-for="Language" htmlfor="language">Favorite Language:</Label>
                    <span asp-validation-for="Language"></span>
                    <select class="somepadding tablecell" asp-for="Language" id="language">
                        <option value="Java">Java</option>
                        <option value="Javascript">Javascript</option>
                        <option value="HTML+CSS">HTML+CSS</option>
                        <option value="C#">C#</option>
                        <option value="C++">C++</option>
                        <option value="Visual Basic">Visual Basic</option>
                        <option value="COBOL">COBOL</option>
                    </select>
                </div>
            </div>
            <div class="somepadding ">
                <Label asp-for="Comments" htmlfor="comments">Comments (optional):</Label>
                <span asp-validation-for="Comments"></span>
                <textarea id="comments" asp-for="Comments" placeholder="Please share any thoughts you may have" rows="6"
                    cols="80" maxlength="500"></textarea>
            </div>
            <div class="somepadding d-flex rightalign">
                <input type="submit">
            </div>
        </form>
    </div>
</div>
