@{
    ViewData["Title"] = "Category Information";
}
@model Category

<h3 class="text-center"> <a asp-action="Index" asp-controller="Home">Products</a>| <a asp-action="CategoryPage" asp-controller="Home">Categories</a> </h3>

<h1 class="display-4 text-center">@Model.Name</h1>

<h4>Add Products to Category</h4>

<form method="post" asp-action="AddToCategory" asp-controller="Category" asp-route-catID=@Model.CategoryID>
    <input type="hidden" asp-for="CategoryID" value=@Model.CategoryID>
    <select >
        @foreach (Product product in Model.AssociatedProducts)
        {
            <option value=@product.ProductID>@product.Name</option>
        }
    </select>
    <input type="submit" value="Add Product to Category">
</form>