<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="nav"> Home | @Html.ActionLink("Projects","Projects") | @Html.ActionLink("Contact","Contact") </div>
    <h1 class="headline">About Me</h1>
    <div class="d-flex">
        <div><img src="~/images/offbeat.jpg" alt="Not really me" class="smallimage"><p>Someone used AI to generate what it would look like if Deadpool played Fortnite with a turkey.  Seems Legit.</p></div>
        <div><p class="somepadding">I just wanted to play Fortnite for a little while to take my mind off of the blip.  Now, Deadpool is calling me Noobmaster. </p></div>
    </div>
</body>
</html>

