<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Information</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="nav"> @Html.ActionLink("Home","Index") | Projects | @Html.ActionLink("Contact","Contact") </div>
    <h1> Project Information (Working Dogs)</h1>
    <div>
        <div class="d-flex border">
            <img src="~/images/TpsDog.jpg" alt="TPS Dog" class="supersmallimg rightborder ">
            <p class="somepadding">Bosco is married to his 9 to 5, but its mostly a marriage of convenience.  Once he learned he could trade TPS Reports for Bones, he soon realized he could have all the bones he could ever want.  Problem now, he doesn't want those bones, just time to run in the Dog Park wild and free.</p>
        </div>
        <div class="d-flex border">
            <img src="~/images/WendysDog.jpg" alt="Wendy's Dog" class="supersmallimg rightborder">
            <p class="somepadding">Ricky just started a new job.  She's so new, she hasn't received the uniform yet, and is petrified that a customer will point this out.</p>
        </div>
        <div class="d-flex border">
            <img src="~/images/HalloweenDog.jpg" alt="Halloween Dog" class="supersmallimg rightborder">
            <p class="somepadding">Oliver waits all year for this special day.  Strangers put treats in his bucket, all for the price of the tricks he was going to do anyway.</p>
        </div>
    </div>
</body>
</html>